html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

main {
    margin-bottom: 7rem;
}

.btn-switch {
    background: white;
    border: 1px solid gray;
    color: gray;
}

    .btn-switch:hover {
        background: gray;
        border: 1px solid #d1d1d1;
    }

    .btn-switch:focus {
        background: gray;
        border: 1px solid #d1d1d1;
    }

#sign-in, #sign-up {
    display: none;
}
