@{
    ViewData["h1"] = "ИндекстДрайв";
}

<h1>
    @ViewData["h1"]
</h1>

<p>
    Лучший сервис для аренды и проката автомобилей в Энгельсе без водителя.
</p>

<form class="row g-3">
    <div class="col-md-3">
        <label class="form-label">Класс автомобиля</label>
        <select class="form-select">
            <option>эконом</option>
            <option>премиум</option>
        </select>
    </div>
    <div class="col-md-3">
        <label class="form-label">Марка</label>
        <input type="text" class="form-control"/>
    </div>
    <div class="col-md-3">
        <label class="form-label">Модель</label>
        <input type="text" class="form-control"/>
    </div>
    <button class="btn col-md-2 btn-primary" type="submit">Найти</button>
</form>