@model CarRentalMVC.Models.UserModel

<div class="btn-group mb-3">
    <button id="switch-sign-in" class="btn-switch btn btn-primary" type="button">Войти</button>
    <button id="switch-sign-up" class="btn-switch btn btn-primary" type="button">Регистрация</button>
</div>

<div id="sign-in">
    <h2>Войти</h2>
    <form asp-action="RegistrationMethod" asp-controller="RegistrationAuthorization" class="col-4">
        <div class="mb-4">
            <label asp-for="Name" class="form-label">Имя</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="mb-4">
            <label asp-for="LastName" class="form-label">Фамилия</label>
            <input type="text" asp-for="LastName" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label" asp-for="Passwort">Пароль</label>
            <input type="password" asp-for="Passwort" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>


<div id="sign-up">
    <h2>Регистрация</h2>
    <form asp-action="RegistrationAuthorization" asp-controller="api" class="col-4">
        <div class="mb-4">
            <label class="form-label" asp-for="Name">Имя</label><br/>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label" asp-for="LastName">Фамилия</label><br />
            <input type="text" asp-for="LastName" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label" asp-for="Patronymic">Отчество</label><br />
            <input type="text" asp-for="Patronymic" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label" asp-for="Passwort">Пароль</label><br />
            <input type="password" asp-for="Passwort" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label" asp-for="Pasport">Паспорт</label><br />
            <input type="password" asp-for="Pasport" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label" asp-for="Phone">Телефон</label><br />
            <input type="tel" asp-for="Phone" class="form-control" />
        </div>
        <div class="mb-4">
            <label class="form-label" asp-for="DateOfBirth">Дата рождения</label><br />
            <input type="date" asp-for="DateOfBirth" class="form-control" />
        </div>
        <div class="mb-4">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Разрешение обработку персональных данных
            </label>
        </div>
        <input type="submit" class="btn btn-primary" value="Зарегистрироваться" />
    </form>
</div>