
@{
    ViewData["Title"] = "Войти";
}


<h2>
    @ViewData["Title"]
</h2>
<form class="col-4">
    <div class="mb-4">
        <label class="form-label">Email</label>
        <input type="email" class="form-control"/>
    </div>
    <div class="mb-4">
        <label class="form-label">Пароль</label>
        <input type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
    